.navigation-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f0ed;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.navigation-bar__list {
  display: flex;
}
.navigation-bar__btn {
  width: 25%;
}
.navigation-bar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.navigation-bar__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navigation-bar__notification-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: tomato;
  color: white;
  font-size: 13px;
  position: absolute;
  right: -5px;
  top: -5px;
}
.navigation-bar__notification-dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  position: absolute;
  right: -5px;
  top: 0;
}
.navigation-bar__image {
  width: 40px;
}
