.reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  padding: 8px 15px;
  background-color: white;
}

.reply__column {
  display: flex;
}
.reply__column:first-child {
  width: 8%;
}
.reply__column:last-child {
  width: 92%;
  position: relative;
}

.reply__column input {
  height: 30px;
  width: 100%;
  padding: 2px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.reply__column img {
  height: 22px;
}

.reply__column:last-child > img,
.reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 6px;
}
.reply__column:last-child .reply__smile {
  right: 45px;
}
.reply__column:last-child .reply__hash {
  right: 10px;
}

.reply__column:last-child button {
  width: 30px;
  height: 30px;
  right: 5px;
  top: 3px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--yellow);
  cursor: pointer;
  visibility: hidden;
}

.reply:focus-within .reply__column button {
  visibility: visible;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
